ul li {
  list-style: none;
}
body {
  background: rgb(242,242,242);
  font-family: 'din_lightregular';
}
header#main {
  background: rgb(51,51,51);
  padding:40px 20px;
}

header#main h1 {
  color:white;
  font-size: 2em;
  position: relative;
}

.content-box {
  background: white;
}

footer#main {
  background: rgb(128,128,128)
}

footer#main p {
  text-align: center;
}

.tabs{
  background: #1fad92;
}

#main > .row {

  border-left: 1px solid #bfbfbf;
}
nav {
}
nav h3 {
  position: relative;
  padding-left: 10px;
  font-size: 1em;
}
nav h3:before, header#main h1:before {
  content:" ";
  background: #1fad92;
  position: absolute;
  left: -21px;
  top:5px;
  width:12px; height:12px;
  border-radius: 50%;

}

header#main h1:before {
  top:16px;
}

nav#tabs {
  position: relative;
  top:20px;
}
nav#tabs ul {
}
nav#tabs ul li{
  display: inline;
}
nav#tabs ul li a{
  padding:8px;
  background: #1fad92;
  border-radius: 15px 15px 0 0;
  color:white;
  text-decoration: none;
}