/* ------------------------------------------------------------
	Reset Styles (from meyerweb.com)
------------------------------------------------------------ */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* ------------------------------------------------------------
	NUMBER OF COLUMNS: Adjust #primaryNav li to set the number
	of columns required in your site map. The default is 
	4 columns (25%). 5 columns would be 20%, 6 columns would 
	be 16.6%, etc. 
------------------------------------------------------------ */

#primaryNav li {
	width:25%;
}

#primaryNav li ul li {
	width:100% !important;
}

#primaryNav.col1 li { width:99.9%; }
#primaryNav.col2 li { width:50.0%; }
#primaryNav.col3 li { width:33.3%; }
#primaryNav.col4 li { width:25.0%; }
#primaryNav.col5 li { width:20.0%; }
#primaryNav.col6 li { width:16.6%; }
#primaryNav.col7 li { width:14.2%; }
#primaryNav.col8 li { width:12.5%; }
#primaryNav.col9 li { width:11.1%; }
#primaryNav.col10 li { width:10.0%; }

/* ------------------------------------------------------------
	General Styles
------------------------------------------------------------ */

body {
	background: white;
	color: black;
	padding: 40px;
	font-family: Gotham, Helvetica, Arial, sans-serif;
	font-size: 12px;
	line-height: 1;
}
.sitemap {
	margin: 0 0 40px 0;
	float: left;
	width: 100%;
}
h1 {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0 0 5px 0;
}
h2 {
	font-family: "Lucida Grande", Verdana, sans-serif;
	font-size: 10px;
	color: #777777;
	margin: 0 0 20px 0;
}
a {
	text-decoration: none;
}
ol, ul {
	list-style: none;
}


/* ------------------------------------------------------------
	Site Map Styles
------------------------------------------------------------ */

/* --------	Top Level --------- */

#primaryNav {
	margin: 30px auto 0px auto;
	width: 80%;
}
#primaryNav #home {
	display: block;
	float: none;
	margin: auto;
	background: #666666 url('../img/L1-left.png') top center no-repeat;
	position: relative;
	z-index: 2;
	padding: 0 0 30px 0; 
}
#primaryNav li {
	float: left;
	background: url('../img/L1-center.png') center top no-repeat;
	padding: 30px 0;
	margin-top: -30px; 
}
#primaryNav li a {
	margin: 0px 10px 0px 10px;
	padding: 10px 0px;
	display: block;
	font-size: 16px;
	font-family: "DINMedium";
	text-align: center;
	color: #ffffff;	
	background: #1388b9 url('../imgwhite-highlight.png') top left repeat-x; 
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
#primaryNav li a:hover {
	background-color: #666666;
	border-color: #97bdcf;
}
#primaryNav li:last-child {
	background: url('../img/L1-right.png') center top no-repeat;
}
a:link:before,
a:visited:before {
	content: " "attr(href)" ";
	display: block;
	font-size: 12px;
	margin: 0px 0px 5px 0px;
	word-wrap: break-word;
}
#primaryNav li a:link:before,
#primaryNav li a:visited:before {
	color: #cccccc;
}

/* --------	Second Level --------- */

#primaryNav li li {
	width: 90%;
	clear: left;
	margin: 0px 0px 0px 0px;
	padding: 15px 0px 0px 0px;
	background: url('../img/vertical-line.png') center bottom repeat-y;
}
#primaryNav li li a {
	background-color: #f2f2f2;
	padding: 5px 10px 2px 0px;
	margin: 0px 10px 0px 10px;
	color: black;
	border: solid .25px #cccccc; 
}
#primaryNav li li a:hover {
	border-color: #666666;
	background-color: #cccccc;
}
#primaryNav li li:first-child {
	padding-top: 30px;
}
#primaryNav li li:last-child {
	background: url('../img/vertical-line.png') center bottom repeat-y;
}
#primaryNav li li a:link:before,
#primaryNav li li a:visited:before {
	color: #666666;
}

li a.nav{ background-color: #666666;
}


/* ------------------------------------------------------------
	Utility Navigation
------------------------------------------------------------ */

#utilityNav {
	float: right;
	max-width: 50%;
	margin-right: 10px;
}
#utilityNav li {
	float: left;
	margin-bottom: 10px;
}
#utilityNav li a {
	margin: 0 10px 0 0;
	padding: 5px 10px;
	display: block;	
	border: 1px solid #666666;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	color: #ffffff;
	background: #666666 url('../img/white-highlight.png') top left repeat-x;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-webkit-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; 
	-moz-box-shadow: rgba(0,0,0,0.5) 2px 2px 2px; /* FF 3.5+ */	
}
#utilityNav li a:hover {
	background-color: #4d4d4d;
	border-color: #999999;
}
#utilityNav li a:link:before,
#utilityNav li a:visited:before {
	color: black;
	font-size: 9px;
	margin-bottom: 3px;
}



/* FONTS
***************************************/



@font-face{ font-family: "dinregularwebfont";
            src: url('http://fontsforweb.com/public/fonts/18347/dinregularwebfont.eot');
            src: local("DIN Regular"), url('http://fontsforweb.com/public/fonts/18347/dinregularwebfont.woff')
            format("woff"), url('http://fontsforweb.com/public/fonts/18347/dinregularwebfont.ttf') format("truetype");
}


.fontsforweb_fontid_18347{ font-family: "dinregularwebfont";
}

@font-face{ font-family: "DINMedium";
           src: url('http://www.fontsforweb.com/public/fonts/6179/DINMedium.eot');
           src: local("DIN Medium"), url('http://www.fontsforweb.com/public/fonts/6179/DINMedium.woff')
           format("woff"), url('http://www.fontsforweb.com/public/fonts/6179/DINMedium.ttf') format("truetype");
}

.fontsforweb_fontid_6179 { font-family: "DINMedium";


}