body {
  background: #f5f5f5;
  font-family: "Helvetica Neue", "Helvetica", sans-serif; 
}
p {
  font-weight: 300;
  font-size: 1.3rem;
}
h1,h2,h3,h4 { font-weight: 100;}

header#main {
  background: #abe2f5;
}


header#main h1 {
  font-size: 2em;
}

nav#main {
  margin-top: 14px;
}

nav#main ul {
  margin:0;
}

nav#main ul li{
  display: inline;
  margin-right: 19px;
  font-size: 18px;
}

section#hero,section#thumbs, section#main-content {
  margin-top:50px;
}
#main-content header { 
  text-align: center;
}
#main-content header h1{
  font-size: 5em;
}

#main-content header nav{
  margin-bottom: 30px;
}

#main-content h3 {
  text-align: center;
  margin-bottom: 20px;
  
}

body>footer{
  margin-top: 50px;
  background: #1388b9;
  height:200px;
}

.caption {
  line-height: 30px;
}
#hero footer {
  margin-top: 62px;
  text-align: center; 
}
#hero footer p {
  color:#173faa;
  font-weight: 300;
}

.caption {
  text-align: center;
  font-size: 0.9em;
  line-height: 20px;
}